div,p,{
	margin:0;
	padding:0;
}
#box1{
	width:500px;
	height:400px;
	background:linear-gradient(to bottom,#6b6b6b,black 85%);
	position:relative;
	overflow: hidden;
}
#box2{
	margin:10px 0 0 20px;
	width:410px;
	font:15px/25px "微软雅黑";
	color:whitesmoke;
	float:left;
	text-align: left;
}
input.btn{
	background:#595858;
	border-radius:15%;
	font:15px/25px "微软雅黑";
	border:1px solid black;
	cursor:pointer;
	color:whitesmoke;
	padding:0 15px 0 15px;
	margin-top:10px;
	position:absolute;
	right:5px;
	transition:0.5s ease-out;
}
input.btn:hover{
	background:black;
}
input:nth-of-type(2){
	z-index: -1;
	opacity: 0;
}
input:nth-of-type(3){
	z-index: -1;
	opacity: 0;
}
input.active1{
	z-index: 0;
	transform:translateY(36px);
	opacity: 1;
}
input.active2{
	z-index: 0;
	transform:translateY(72px);
	opacity: 1;
}
#box3{
	margin-left:20px;
	width:430px;
	height:130px;
	position:absolute;
	bottom:-130px;
	transition: 0.8s ease-out;
	opacity: 1;
	padding-left:20px
}
#box3.box3active{
	transform:translateY(-150px);
	opacity:1;
}
#box3 span{
	float:left;
	margin-top:15px;
	font:15px/25px "微软雅黑";
	color:white;
	padding:0 9px;
	cursor:pointer;
}
#box3 span.changebg{
	background:#242323;
	border:1px solid black;
}
#box3 #textcheck{
	position:absolute;
	top:45px;
	left:20px;
}
#box3 #textchange{
	position: absolute;
	top:45px;
	left:190px;
	z-index: 0;
	opacity: 1;
	margin-left:10px;
}
#box3 #btncheck1{
	padding:0 15px;
	position:absolute;
	top:45px;
	left:200px;
	border-radius: 15%;
}
#box3 #btncheck2{
	padding:0 15px;
	position:absolute;
	top:45px;
	left:380px;
	border-radius: 15%;
}